{% extends "layout.html" %}
{% block main %}
    <div class="hero bg-overlay about-section" style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <div class="somecontainer">
            <h1>About</h1>
            <br>
            <h2 class="mb-4" style="text-align: center;">This is a project made with Flask, HTML, CSS and Javascript.</h2>
        </div>
        <div class="somecontainer">
            <img class="img" src="https://th.bing.com/th/id/R.f743cfb176d20fab9ec8e6eb46057884?rik=C6QcbgSm93D4hA&pid=ImgRaw&r=0" style="height: auto; width: 80%;" alt="cs50">
            <h2 class="mb-4">Final Project for CS50X.</h2>
        </div>
    </div>
{% endblock %}
