{% extends "layout.html" %}

{% block main %}
    <div class="vh-100 bg-overlay logregsec">
        <div class="py-5 text-center querysection rounded;">
            <h1 class="mb-5 mt-5">Log In</h1>

            <form action="/login" method="post">
                <div class="w-75 mx-auto">
                    <input autofocus class="form-control mb-2 rounded" name="username" placeholder="Username" type="text">
                    <input autocomplete="off" autofocus class="form-control mb-2 rounded" name="password" placeholder="Password" type="password">
                    <button type="submit" class="btn btn-3 mx-auto">Log In</button><br>
                    <label>Not registered? <a href="/signup">Sign Up Here</a></label>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
