{% extends "layout.html" %}
{% block main %}
    <div class="h-auto bg-overlay logregsec" style="min-height:100vh">
        <div class="py-5 text-center querysection rounded" style="margin-top: 60px;">
            <h1 class="mb-5">
                {{ username }}
            </h1>
            {% if deals %}
                <h3 class="mb-5">
                    My deals
                </h3>
            {% endif %}
            {% include 'listing.html'%}
            <a href="/create_deal" class="btn btn-3 mx-auto" style="width: fit-content;">
                Create Deal

            </a>

        </div>
    </div>
{% endblock %}
