{% extends "layout2.html" %}

{% block main %}
    <div class="py-5 text-center querysection rounded w-auto" style="height: 100vh;">
        <h1 class="mb-5">Create Deal</h1>
        <form enctype="multipart/form-data" class="w-75 mx-auto" action="/create_deal" method="post">

            <div class="mb-3">
                <label style="width: 30%;">Title<br>
                    <input class="form-control" name="name" type="text" required>

                    </input>
                </label>
                <label style="width: 55%;">Description<br>
                    <input class="form-control" name="description" type="text" required>
                    </input>
                </label>
            </div>
            <div class="mb-3">

                <label style="width: 45%;">State<br>
                    <select class="form-control" name="state" required>
                        <option disabled selected>State</option>
                        {% for element in states %}
                            <option value="{{ element }}">{{ element }}</option>

                        {% endfor %}
                    </select>
                </label>
                <label style="width: 40%">Place Type<br>
                    <select class="form-control" name="placetype" required>
                        <option disabled selected>Type</option>
                        <option value="house">House</option>
                        <option value="apartment">Apartment</option>
                        <option value="premise">Premise</option>
                    </select>
                </label>

            </div>
            <div class="mb-3">
                <label style="width: 25%">Stories<br>
                    <input class="form-control" name="stories" type="number" min="1" max="4" required>
                </label>
                <label style="width: 25%">Rooms<br>
                    <input class="form-control" name="rooms" type="number" min="1" required>
                </label>

                <label style="width: 25%">Bathrooms<br>
                    <input class="form-control" name="bathrooms" type="number" min="0" required>
                </label>

            </div>
            <div style="width: 100%" class="mx-auto mb-3">
                <label style="width: 25%">Square Meters<br>
                    <input class="form-control" name="squaremeters" type="number" min="10" required>
                </label>
                <label>Upload Images<br>
                    <input multiple="multiple" class="form-control" name="imageup" value="Submit" type="file" accept="image/jpg, image/png, image/jpeg" required>
                </label>

            </div>
            <div class="mx-auto mb-3">

                <button type="submit" class="btn btn-3 mx-auto">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}
