<ul class="mb-5" style="display:flex; flex-direction: row; background-color: #F0ECE5; overflow:auto;flex-wrap: wrap; justify-content: center; padding-left: 0;">
    {% for deal in deals %}
        <li style="margin: 10px">
            <div class="deal-card" style="border-radius: 5vh; justify-content: center; display: flex; flex-direction: column; box-shadow:  5px 5px 10px 2px rgba(0, 0, 0, 0.25)">
                <div class="deal-card-img">

                    <img src="/static/uploads/{{ deal.image }}" alt="image for {{ deal.title}}" style="min-width:300px;width:auto; height: 150px; border-top-right-radius: 5vh; border-top-left-radius: 5vh;">
                </div>
                <div class="deal-card-body">
                    <p class="deal-type">{{ deal.placetype }}</p>
                    <h5>
                        <a href="/marketplace/{{ deal.id }}/" class="text-center deal-title">
                            {{ deal.name }} | {{ deal.state }}
                        </a>
                    </h5>
                    <div class="justify-content-center" style="display: flex; flex-direction: row;">
                        {% if deal.rooms > 0 %}
                            <i class="fa-solid fa-bed deal-icon"></i>
                            <p class="deal-icon-number">{{ deal.rooms }}</p>
                        {% endif %}
                        {% if deal.bathrooms > 0 %}
                            <i class="fa-solid fa-bath deal-icon"></i>
                            <p class="deal-icon-number">{{ deal.bathrooms }}</p>
                        {% endif %}
                        <i class="fa-solid fa-stairs deal-icon"></i>
                        <p class="deal-icon-number">{{ deal.stories }}</p>
                        <i class="fa-solid fa-layer-group deal-icon"></i>
                        <p class="deal-icon-number">{{ deal.squaremeters }} m2</p>
                    </div>
                    <div style="display: flex;">
                        <a class="btn btn-3 mx-auto" href="/marketplace/{{ deal.id }}/" style="width: fit-content;">
                            View
                        </a>
                        {% if route and (deal.user_id == session["user_id"]) %}
                            <a class="btn btn-3 delete mx-auto" href="/delete/{{ deal.id }}/" style="width: min-content;">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
